body {
  background-color: green;
  color: white;
  padding-top: 100px;
}
div {
	width: 100px;
	height: 100px;
	background-color: grey;
	border-width: 10px;
	border-style: solid;
	border-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
	float: left;
}
#especial {
	background-color: blue;
}
.outracor {
	background-color: orange;
}