body {
	background: lightgray;
}

.divisao1 {
	margin-left: 30px;
    background-image: URL('corpobody.png');
	background-repeat: no-repeat;	
}

.divisao2 {
	margin-left: 80px;
    background-image: URL('tabelatable.png');
	background-repeat: no-repeat;
}

table {
	height: 605px;
	width: 1013px;
	left: 94px;
	top: 98px;
	border-radius: 3px;
	background: #FFFFFF;
	margin-left: 94px;
	margin-top: 0px;
	margin-bottom: 98px;
	margin-right: 94px;
	text-align: left;	
    padding: 10px 10px 0 10px;
	align-items: center;
}

.tabela, #imagem {
    background-image: URL('caption.png');
	background-repeat: no-repeat;
	
}

#nome  {
	background: #FFFFFF;
	text-align: left;
	padding: 18px 0 0 25px;
			
}

#cabeca {
	height: 60px;
	width: 1090px;
	background-image: URL('cabecalho.png');
	background-repeat: no-repeat;	
}

#corpo {
	height: 517px;
	width: 1090px;
	background-image: url('CorpoTabela.png');
	background-repeat: no-repeat;
	
}

#nome {
	font-family: Roboto;	
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 23px;
	letter-spacing: 0px;
	text-align: left;

}
#foot {
	width: 980px;
	height: 69px;
	left: 101px;
	top: 751px;
	padding-bottom: 0;
	padding-right: 10px;*
	background-color: rgb(201, 222, 230);
	opacity: none;
	background-image: url('footer.png');
	background-repeat: no-repeat;
	background-position: top left;

	
	
}
