body {
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgb(206, 200, 200);
}
.cabecalho {
    height: 40px;
    left: 200px;
    top: 63px;
    background-color: #151524;
    padding: 10px 10px 10px 40px;
    background-size: cover;
       
    
}
.tdimagem {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1280px;
    top: 15px;
    border-radius: 50%;

    background: #3ACA60;
}
.td {
    position: absolute;
    width: 19px;
    height: 14px;
    margin-left: 1285px;
    top: 21px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    
    color: white;
}
.retangulo {
    position: absolute;
    width: 203.5px;
    height: 40px;
    background-image: url("nucliot-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    left: 0;
    top: 0;
    padding: 20px 18px 0px 10px;
       
}
.menulateral {
    width: 200px;
    height: 990px;
    background-color:#151524;
    padding: 14px 14px 14px 18px;
    margin-top: -58px;
    
}
.menulateral ul{
    list-style-type: none;
    display: block;
    padding: 0px 10px 60px 5px;
    text-decoration: none;
    line-height: 35px;
       
}
.menulateral ul li {
    padding: 5px;
    font-size: 18px;
    text-align: left;   
    font-family: Arial, Helvetica, sans-serif; 
    
        
}
.menulateral ul li a {
   text-decoration: none;
   color: white;  
}
.menulateral ul li:hover {
   background-color: black;
   background-size: cover;
 }
.menuhorizontal {
    position: absolute;
    width: 1115px;
    height: 60px;
    left: 232px;
    top: 60px;
    background: white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.0572067);
    
}
.itensmenu li {
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}
.itensli a {
    color: black;
}
.itensmenu li a:hover {
    color: orange;
} 
.conteudo {
    position: absolute;
    width: 1080px;
    height: 870px;
    left: 248px;
    top: 139px;
    
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}
.personal {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}
.entrada1 #fname1 {
    
    width: 400px;
    height: 40px;
    left: 251px;
    top: 209px;
    padding-left: 20px;
    
    
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;
    
}
.entrada1 {
    padding-left: 20px;
}
.paragrafo1 {
    width: 385px;
    height: 28px;
    left: 252px;
    top: 255px;
    padding-left: 20px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    
    color: #000000;
}
.entrada2 #fname2 {
    
    width: 400px;
    height: 40px;
    left: 251px;
    top: 309px;
    
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;
    
}
.entrada2 {
    padding-left: 20px;
    padding-top: 20px;
}
.entrada3 #fname3 {
    
    width: 400px;
    height: 40px;
    left: 251px;
    top: 359px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;

}
.entrada3 {
    padding-left: 20px;
    padding-top: 10px;
    
}
.entrada4 #fname4 {
    
    width: 400px;
    height: 40px;
    left: 251px;
    top: 409px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;

}
.entrada4 {
    padding-left: 20px;
    padding-top: 10px;
    
}
.entrada5 #fname5 {
    
    width: 400px;
    height: 40px;
    left: 251px;
    top: 409px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;

}
.entrada5 {
    padding-left: 20px;
    padding-top: 10px;
    
}
.senhaprincipal {
    position: absolute;
    width: 95px;
    height: 22px;
    left: 252px;
    top: 550px;
    padding-left: 20px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;

    color: #161616;
    }

.senha {
    
    width: 95px;
    height: 22px;
    left: 252px;
    top: 557px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;

    color: #161616;
}
.senha1 #fname6 {
    
    width: 400px;
    height: 40px;
    left: 240px;
    top: 560px;
        
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;
}

.senha2 #fname7 {
    
    width: 400px;
    height: 40px;
    left: 240px;
    top: 660px;
    
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;
}
.senha2 {
    padding-top: 10px;

}
.senha3 #fname8 {
    width: 400px;
    height: 40px;
    left: 268px;
    top: 708px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;
}
.senha3 {
    padding-top: 10px;
}
.escolhadetalhe {
    position: absolute;
    width: 98px;
    height: 22px;
    left: 268px;
    top: 772px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;

    color: #161616;
}
.checa1 #fname9 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 265px;
    top: 850px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
}
.checa1 {
    padding-left: 20px;
    padding-top: 20px;
}
.checa1 #fname10 {
    position: absolute;
    width: 332px;
    height: 16px;
    left: 292px;
    top: 852px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

color: #161616;
}

.checa2 #fname11 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 265px;
    top: 879px;

    background: green;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
}
.checa2 #fname12 {

    position: absolute;
    width: 365px;
    height: 36px;
    left: 292px;
    top: 879px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
 
    color: #000000;
}
.botao {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 270px;
    top: 933px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;

    background: #3ACA60;
    border-radius: 4px;
    border-color: white;
    color: white;
    
}
